.Movie-container{
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card {
    min-width: 500px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}